# Volumes
volumes/
!volumes/sonarqube/data
!volumes/sonarqube/logs
!volumes/sonarqube/extensions

# IDE folders
.vscode/
.vs/

# Node modules
node_modules/

# SonarQube
.scannerwork/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
