# Logs (but keep sonarqube logs for initial setup)
*.log

# Volumes
volumes/
!volumes/sonarqube/data/*.db

# IDE folders
.vscode/
.vs/

# Node modules
node_modules/

# SonarQube
.scannerwork/

# OS
.DS_Store
Thumbs.db
