services:
  n8n:
    image: n8nio/n8n:latest
    ports:
      - "5678:5678"
    volumes:
      - ./volumes/.n8n:/home/node/.n8n:rw
    restart: unless-stopped
  gateway:
    image: docker/mcp-gateway
    container_name: gateway
    ports:
      - "9011:9011"
    command:
      - --transport=streaming
      - --servers=duckduckgo,fetch
      - --verbose=true
      - --port=9011
      - --config=/mcp_configs
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
    configs:
      - mcp_configs
configs:
  mcp_configs:
    content: |
      oauth:
        mcp-oauth-dcr: disabled
